<div class="page-content-wrapper">
  <!-- <timeline-component></timeline-component> -->
  <h1>Education</h1>
  <div class="content-wrapper">
    <div class="content">
      <p>
      Integer finibus lectus lacus, sed pulvinar lorem condimentum eget. Etiam quis mollis erat. Vivamus mattis velit quis magna tempor tincidunt. Maecenas ac tincidunt velit. Quisque eget nibh vitae lacus porttitor tincidunt at mollis neque. Nullam pellentesque ex in lorem varius, nec mattis mauris hendrerit. Mauris ante augue, gravida quis sagittis a, sagittis vitae quam. Aenean fringilla tortor lectus, nec tristique enim faucibus sit amet. Maecenas a nulla a neque ornare aliquam nec blandit ligula. Suspendisse pulvinar vestibulum neque et malesuada. Donec sollicitudin finibus mauris vitae sodales.
      </p>
    </div>
  </div>
</div>
