/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body * {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.clear-float {
  clear: both;
  width: 1px;
}

.page-content-body {
  height: 100%;
  width: 80%;
  margin: auto;
}
